# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

# Output

_testmain.go

/junit_output.xml
/profile.cov
/coverage.html
/coverage.xml
status.tmp

*.exe
*.test

vendor/
assets.go
mock_*.go

docker-compose

/fireworq
/AUTHORS
/CREDITS
/dist
