name: Generate authors

on:
  push:
    branches:
      - master

jobs:

  genauthors:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.x

      - name: Generate authors
        run: script/ci/genauthors
